/* Write your CSS here */
.notfound-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.notfoundstatus {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-weight: bold;
  font-size: 30px;
  margin: 5px;
}
